#accordion {
  width: 95%;
  margin: auto;
  margin-top: 100px;
}

.accordion-headers {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #740001;
  margin: 10px auto;
  color: #eeba30;
  padding: 0 20px;
  justify-content: space-between;
  font-family: 'Cinzel', serif;
  font-weight: bold;
}

.accordion-headers h3{
  font-size: 20px;
}

.toggle-indicator {
  font-size: 40px;
}

.accordion-description {
  max-height: 0;
  overflow: hidden;
  padding: 0px 20px;
  background-color: #d3a625;
  color: #740001;
  transition: max-height 1s;
  font-family: 'Lato', sans-serif;
  line-height: 28px;
}

.active {
  max-height: 1000px;
  padding: 5px 20px;
  transition: max-height 2s;
}

@media (min-width: 768px) {
  #accordion {
    width: 60%;
  }
  .accordion-headers h3{
    font-size: 30px;
  }
}
